<!-- Blog Post -->
<div class="card mb-4 hvr-glow">
    <a href="#" data-toggle="tooltip" title="Bulunduğu Kategori" style="position: absolute;" class="badge badge-success">Sunucu-Hosting</a>
    <div class="card-body">
        <h2 class="card-title">{{title}}</h2>
        <p class="card-text">{{content}}</p>
        <a href="#" class="btn btn-primary hvr-pulse-grow">阅读更多&rarr;</a>
    </div>
    <div style="cursor: default;" class="card-footer text-muted">
        <span class="pl-1" data-toggle="tooltip" title="作者">
            <i class="fas fa-user-edit"></i> @笑江湖
        </span>
        <span class="pl-1" data-toggle="tooltip" title="发布时间">
            <i class="fas fa-clock"></i> {{fa_clock}}
        </span>
        <span class="pl-1" data-toggle="tooltip" title="被阅读数">
            <i class="fas fa-eye"></i> 8
        </span>
        <span class="pl-1" data-toggle="tooltip" title="喜欢人数">
            <i class="fas fa-heart"></i> 0
        </span>
        <span class="pl-1" data-toggle="tooltip" title="评论数量">
            <i class="fas fa-comments"></i> 0
        </span>
        <span class="pl-1" title="预计阅读时间" data-toggle="tooltip">
            <i class="fas fa-book-reader"></i> 2 分钟
        </span>
    </div>
</div>
<!-- Blog Post -->